.productoCompleto {
  border: 1px solid black;
  border-radius: 0.5em;
  margin: 0 1em 1em 0;
  height: 190px;
  width: 160px;
  padding: 10px;
}

.textoProducto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  justify-content: center;
}

.titleProducto {
  margin: 5px 0;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.descripcionProducto {
  margin: 5px 0;
  font-size: x-small;
}

.precioProducto {
  margin: 5px 0;
  font-size: medium;
  font-weight: bold;
}

.agregarCarrito{
  width: 16px;
}
